
<h1>Fancy Spa</h1>
<div id="clientProfile">

<div id="clientProfile"> 
    <h5>Client Profile</h5>
    <p>@ViewBag.name</p>
</div>
<div id="servicesMenu">
    <h5>Skin Type</h5>
    <p>@ViewBag.skin</p>
</div>


</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    @* <p>Your //TODO: pass the skintype value in here// skin type is best suited to the follow facial types:</p> *@

    <ul>
        @* //TODO: iterate through appropriate facial treatments *@
        @foreach (string facial in ViewBag.facial)
   {
      <li>@facial</li>
   }
    </ul>

    <h5>Nail Services</h5>
    @* // TODO: display a description for the nail service selected *@
    @if(ViewBag.manipedi == "manicure "){
        <p>"Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish."</p>
    }else{
        <p>"Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!"</p>
    }

</div>